<div class="speedometer-card">
  <div class="speedometer">
    <div class="num num1"><div></div></div>
    <div class="num num2"><div>40</div></div>
    <div class="num num3"><div></div></div>
    <div class="num num4"><div>80</div></div>
    <div class="num num5"><div></div></div>
    <div class="num num6"><div></div></div>
    <div class="num num7"><div>140</div></div>
    <div class="num num8"><div></div></div>
    <div class="num num9"><div></div></div>
    <div class="num num10"><div>200</div></div>
    <div class="num num11"><div></div></div>
    <div class="num num12"><div>0</div></div>

    <!-- <div class="speed-limit" #speedLimit ></div> -->
    <div class="current-speed" #currentSpeed ></div>
    <div class="speed-value">000</div>
    <div class="unit">km/s</div>
  </div>
</div>
