<div class="speedometer-card">
  <div class="speedometer">
    <div class="num num1"><div>120</div></div>
    <div class="num num2"><div></div></div>
    <div class="num num3"><div>160</div></div>
    <div class="num num4"><div></div></div>
    <div class="num num5"><div>200</div></div>
    <div class="num num6"><div></div></div>
    <div class="num num7"><div>0</div></div>
    <div class="num num8"><div></div></div>
    <div class="num num9"><div>40</div></div>
    <div class="num num10"><div></div></div>
    <div class="num num11"><div>80</div></div>
    <div class="num num12"><div>100</div></div>

    <div class="current-speed" #currentSpeed ></div>
    <div class="speed-value">060</div>
    <div class="unit">km/h</div>
  </div>
</div>
