<ion-toolbar >
  <ion-title>Notification</ion-title>
</ion-toolbar>

<ion-content>
  <ion-list *ngIf="setData">



    <ion-item no-lines *ngFor="let item of setData">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="speedometer-sharp"></ion-icon>
            </ion-col>
            <ion-col>
              <p>{{item.Message}}</p>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-badge color="success">{{item.Speed}}Km/hr</ion-badge>
                <p style="margin-top:10px;">{{item.Timestamp}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
       </ion-card>
  </ion-item>




  </ion-list>


</ion-content>

