
<ion-content>
  <ion-list>
    <ion-item>
      <ion-card class="mion-card">
        <ion-card-content>
          <canvas height="300px"  #barChart></canvas>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item>
      <ion-card class="statscard">
        <ion-grid>
          <ion-row>
            <ion-progress-bar value="0.3"></ion-progress-bar>
          </ion-row>
          <ion-row>
            <ion-col size-xs="6"  offset-md="3">
              <ion-row>
                <ion-icon name="radio-button-on"></ion-icon>
                <h5>Stats</h5>
              </ion-row>
            </ion-col>
            <ion-col size-xs="6" size-md="3" offset-md="3">
              <h5 style="position: absolute; right:0; margin-right:10px">Bad</h5>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
