<ion-toolbar style="background: transparent;" >
  <ion-title class="ion-text-center" >
       TranSafe
  </ion-title>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true" >
  <ion-grid >
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card class="speedometer">
          <rg-gauge-chart
              #guage
              [canvasWidth]="canvasWidth"
              [needleValue]="needleValue"
              [centralLabel]="centralLabel"
              [options]="options"></rg-gauge-chart>
              <ion-label class="speed-label"><strong>{{speedlmt}}</strong></ion-label>
              <ion-button color="primary" [ngClass]="{'my-css-class': updateBtnText === 'Stop'}"  class="track-button" (click)="startTrackUser()">{{updateBtnText}}</ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="6" size-md="3" offset-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>NO</h1>
              <p>Rating</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>{{risk}}%</h1>
              <p>Risk</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3" offset-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>{{safety}}</h1>
              <p>Status</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>{{numOverSpeed}}</h1>
              <p>OverSpeed</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

