
  <ion-toolbar >
    <ion-button routerLink="/homenav"   style="position: absolute; left:0; top:0;" color="light" > <ion-icon name="arrow-back-outline"></ion-icon> </ion-button>
    <ion-title>Achievement</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">



  <ion-card>
    <ion-card-content>
      <div class="a">
        <ion-row>
          <ion-col>
            From
          </ion-col>
          <ion-col>
            To
          </ion-col>
        </ion-row>
      </div>

      <div class="b">
        <ion-row>
          <ion-col>
            KNUST
          </ion-col>
          <ion-col>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
          <ion-col>
            ACCRA
          </ion-col>
        </ion-row>
      </div>

      <div class="c">
        <ion-card>
          <ion-row>
            <ion-col>
              BOARDING
            </ion-col>
            <ion-col>
              07:30, May 12
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div class="d">
        <ion-row>
          <ion-col>
            Total Speed
          </ion-col>
          <ion-col>
            Risk
          </ion-col>
          <ion-col>
            Safety
          </ion-col>
        </ion-row>
      </div>

      <div class="e">
        <ion-row>
          <ion-col>
            1000Km
          </ion-col>
          <ion-col>
            10%
          </ion-col>
          <ion-col>
            90%
          </ion-col>
        </ion-row>
      </div>

      <div class="line">

      </div>

      <div class="f">
        <ion-icon name="car-sport-outline"></ion-icon>
      </div>

      <div class="g">
        <h1>YOU ROCK!!!!!!</h1>
        <P>Great Driving Experience. Keep it up!</P>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
