ion-tab-bar {
  border-radius:0px 0px 0px 80px;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 2px 2px 2px #e2e2e2;
  position: absolute;
  z-index: 1;
}

ion-content {
  margin-top: 130px;
}


ion-title {
  margin-top: 10px;
  font-weight: bolder;
  font-size: x-large;
}


ion-tab-button:focus {
  background-color:#5F4591;
  border-radius: 25px;
  color: white;
}

// ion-tab-bar.my-custom-tab-bar {
//   position: absolute;
//   bottom: 0;
//   top:0;
//    right:0;
//   --background: rgba(255, 255, 255, 0);

//   ion-tab-button {
//     --background: transparent;
//   }
// }

