<ion-content>
<ion-tabs class="tabs-light tabs-icon-only" style="border: none;">
  <ion-tab-bar slot="bottom" class="my-custom-tab-bar">
    <ion-tab-button tab='home'>
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="discover">
      <ion-icon name="compass-sharp"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistic">
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

</ion-content>
