
ion-icon {
  color: #5F4591;

}

ion-tab-bar {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(190, 190, 190, 0.26);


}


ion-tabs {
  position: absolute;
  z-index: 10;
  --background: transparent;
}

