
.custom-card-bg {
  background-color: #5F4591;
  text-align: center;
  border-radius: 10%;
  height: 100px;
  width: auto;
}



ion-card-content {
  margin: 10px;
}


ion-menu-button {
  color: rgb(29, 29, 29);
}
