<ion-header [translucent]="true" >
  <ion-toolbar style="background: transparent;" >
    <ion-title >
         TranSafe
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-grid >
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <app-speedometer></app-speedometer>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="6" size-md="3" offset-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>3</h1>
              <p>Rating</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>60%</h1>
              <p>Risk</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3" offset-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>Bad</h1>
              <p>Status</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="6" size-md="3">
        <ion-card class="custom-card-bg">
          <ion-card-content>
            <ion-text color="light">
              <h1>6/11</h1>
              <p>OverSpeed</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
