
.slider {
  height: 100vh;
  width: 100vw;
}

ion-slide {
  height: 100vh;
}

h1 {
  font-size: xx-large;
  font-family: "robo-medium", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin: 10px;
}

h4 {
  margin: 10px;
}

.signup-icon {
  width: 30px;
  height: 30px;
}

h5 {
  font-size: small;
  font-family: "robo-medium";
  color: white;
  text-align: center;
  margin: 10px;
}

.slider-slide {
  height: 100vh;
  width: auto;
}

.button-near-round {
  box-shadow: 0 14px 25px rgba(24, 43, 61, 0.404);
  border-radius: 50px;
}



.swiper-pagination {
  position: fixed;
  bottom: 0;
  padding-bottom: 3px;
}

.transbox {
  height: 100vh;
  background-color: #0a0a0aa4;
}

.icon-svgs {
  width: auto;
  height: 50vh;
  color: #8a56ac;
}

