<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-content color="medium tint">
      <div class="menu-container-bg">
      <div class="header-content">
        <img class="user-avatar" src="../assets/images/avatar.jpg" alt="user profile image" />
        <ion-label>
          <h1>Ann</h1>
          <p>@ann009</p>
        </ion-label>
      </div>
      <div class="home-item">
        <ion-icon padding slot="start" name="home-sharp"></ion-icon>
        <ion-button routerLink="/homenav" padding fill="clear" color="light" (click)="toggleMenu()" >
           Home
        </ion-button>
      </div>
      <div>
        <ion-icon name="person-sharp"></ion-icon>
        <ion-button padding routerLink="/user-profile" fill="clear" color="light" (click)="toggleMenu()">
           User Profile
        </ion-button>
      </div>

      <div class="achieve-button">
        <ion-icon name="ribbon-sharp"></ion-icon>
        <ion-button padding routerLink="/achievement" fill="clear" color="light" (click)="toggleMenu()">
           Achievement
        </ion-button>
      </div>
      <div class="settings-button">
        <ion-icon name="settings-sharp"></ion-icon>
        <ion-button padding fill="clear" color="light" (click)="toggleMenu()">
           Settings
        </ion-button>
      </div>
      <div class="about-button">
        <ion-button padding fill="clear" color="light" (click)="toggleMenu()">
           <p>About Us</p>
        </ion-button>
      </div>
      <div class="logout-button">
        <ion-button padding fill="clear" color="light" (onclick)="toggleMenu()">
        <p>Log Out</p>
        </ion-button></div>
    </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
